.block-editor label {
  display: block;
  font-size: 11px;
  color: var(--k84);
  margin-top: 17px;
}
.block-editor input,
.block-editor textarea {
  display: block;
  width: 100%;
  padding: 9px 10px;
  border: 1px solid var(--k85);
  background: var(--k86);
  border-radius: 6px;
  font-family: var(--mono);
  font-size: 12px;
  color: var(--k87);
  margin-top: 8px;
  resize: vertical;
}
.expression-help {
  font-size: 11px;
  line-height: 1.9;
  color: var(--k88);
  margin-top: 18px;
}
.expression-help > code {
  display: block;
  color: var(--k89);
}
.expression-help p {
  margin-top: 10px;
}
.delete-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 11px;
  color: var(--k90);
  border: 1px solid var(--k91);
  border-radius: 6px;
  padding: 9px;
  margin-top: 24px;
  width: 100%;
}
.select-prompt {
  text-align: center;
  padding: 55px 0;
  color: var(--k92);
}
.select-prompt h3 {
  font-size: 12px;
  color: var(--k93);
  margin: 15px 0 8px;
}
.select-prompt p {
  font-size: 11px;
  line-height: 1.8;
  color: var(--k94);
}
.empty-small {
  font-size: 11px;
  color: var(--k95);
  padding: 20px 0;
}
.code-view {
  margin: 62px 35px;
  background: var(--k6);
  border: 1px solid var(--k96);
  border-radius: 9px;
  box-shadow: 0 4px 24px var(--k97);
  min-width: 350px;
}
.code-view > div {
  height: 44px;
  padding: 0 17px;
  border-bottom: 1px solid var(--k98);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--k99);
  font-size: 11px;
}
.code-file {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--mono);
}
.code-view > div > button {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--k100);
  font-size: 11px;
}
.code-view pre {
  padding: 20px 0;
  line-height: 2;
  font-family: var(--mono);
  font-size: 12px;
  color: var(--k101);
  overflow: auto;
}
.code-view pre em {
  font-style: normal;
  display: inline-block;
  width: 40px;
  text-align: right;
  margin-right: 25px;
  color: var(--k102);
  font-size: 11px;
  user-select: none;
}
.file-menu {
  position: absolute;
  left: 230px;
  top: 70px;
  z-index: 30;
  background: var(--k41);
  box-shadow: 0 7px 25px var(--k103);
  padding: 6px;
  border: 1px solid var(--k104);
  border-radius: 8px;
  min-width: 170px;
}
.file-menu button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 11px;
  color: var(--k105);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.file-menu button:hover {
  background: var(--k106);
}
.toast {
  position: fixed;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 12px 20px;
  background: var(--k107);
  color: var(--k108);
  border-radius: 8px;
  box-shadow: 0 5px 25px var(--k109);
  font-size: 11px;
  z-index: 100;
  max-width: 90vw;
}
